/* this part for the header */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.logo {
  margin-left: 70px;
}

.logo img {
  height: 55px;
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 400px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  display: inline-block;
}

nav ul li a.active {
  color: rgb(155, 57, 57);
  border-bottom: 3px solid red;
  padding-bottom: 3px;
  width: 105%;
  border-radius: 10px;
}

.button-1 {
  background: linear-gradient(to bottom, #7DA2F9 0%, #5C8DF6 100%);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 50;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:hover {
  background: linear-gradient(to bottom, #698EEF 0%, #4A6FDD 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-1:active {
  background: linear-gradient(to bottom, #5577D4 0%, #3B5DB9 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* THIS PART IS FOR THE WHATSAPP FLOATING BUTTON */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/* Hero Section Styling */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #FFFFFF;
}

.hero-content {
  width: 50%;
  padding-right: 20px;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 15px 25px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-subscription {
  border: 2px solid #FF5733;
  background-color: transparent;
  color: #FF5733;
}

.btn-about {
  background-color: #FF5733;
  color: #FFFFFF;
}

.btn:hover {
  filter: brightness(90%);
}

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    width: 100%;
  }

  .hero-image img {
    margin-top: 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    width: 80%;
    margin: 0 auto;
  }
}


/* Vehicle Browse Section */
.browse-vehicles {
  text-align: center;
  padding: 40px 20px;
  background-color: #fbe9e92b;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.browse-vehicles h2 {
  color: #005dba;
}


.browse-vehicles p {
  font-size: 1.2rem;
  color: #8e5b5b;
  margin-bottom: 30px;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 150%;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 20%;
  margin-right: 2%;
}

.carousel-item img {
  width: 100%;
  display: block;
}


.carousel-item.active {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.carousel-item:hover {
  opacity: 0.8;
}

.btn.browse-btn {
  padding: 12px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.browse-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .carousel img {
    margin-right: 10px;
  }
}


/*Invest your car section*/
.section-title {
  text-align: center;
  margin-top: 20px;
}

.section-title h2 {
  font-size: 40px;
  color: #D72626;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px; 
}

.underline {
  width: 220px;
  height: 5px;
  background-color: #D72626;
  margin: 1px 605px;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Background with Blur Effect */
.background {
  background: url('../assets/inviste\ backgroud\ main\ page.png') no-repeat center center/cover;
  position: relative;
  padding: 40px 20px;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(8px); 
  z-index: 1;
  opacity: 0.8; 
}

.overlay-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}


.overlay-content h1 {
  font-size: 50px;
  color: #D72626;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.overlay-content p {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}


.features-box {
  background-color: rgba(43, 45, 66, 0.75);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1108px;
  height: auto;
  margin: 40px auto;
  box-sizing: border-box;
}

.feature {
  text-align: center;
  flex: 1;
}

.feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.feature p {
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}


.invest-now-btn {
  background-color: #D72626;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

.invest-now-btn:hover {
  background-color: #BF1E1E;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 30px;
  }
  
  .overlay-content h1 {
    font-size: 36px;
  }
  
  .overlay-content p {
    font-size: 16px;
  }
  
  .features-box {
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
  }

  .feature img {
    width: 40px;
    height: 40px;
  }

  .invest-now-btn {
    font-size: 18px;
    padding: 10px 30px;
  }
}


/*this section is for the footer*/
footer {
  background-color: #1A202C;
  padding: 50px 0;
  color: #fff;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 25%;
  padding: 0 15px;
  text-align: left;
}

.logo img {
  width: 150px;
}

.supported,
.links,
.contact {
  width: 25%;
  padding: 0 15px;
}

.supported ul {
  list-style: none;
  padding: 0;
}

.supported ul li {
  margin-bottom: 10px;
}

.links ul,
.contact ul {
  list-style: none;
  padding: 0;
}

.links ul li,
.contact ul li {
  margin-bottom: 10px;
}

.supported ul li img {
  width: 50%;
  max-width: 200px;
  height: auto;
}


.links ul li a,
.contact ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover,
.contact ul li a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

.social {
  margin-top: 15px;
}

.social a {
  color: #38B2AC;
  font-size: 25px;
  margin-right: 15px;
}

.social a:last-child {
  margin-right: 0;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

/* Responsive for smaller screens */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.logo,
.supported,
.links,
.contact {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}


/* Style for the credits section */
.credits {
  text-align: center;
  margin-top: 20px;
}

.credit-item {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0 15px;
}

.credit-item i {
  margin-right: 8px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.credit-item .text {
  color: #fff;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.credit-item .name {
  color: #fff;
  transition: color 0.3s ease;
}

.credit-item:hover i {
  color: #38B2AC;
}

.credit-item:hover .text,
.credit-item:hover .name {
  color: #38B2AC;
}

.credit-item:hover {
  text-decoration: underline;
}

.credit-item:first-child {
  margin-left: 0;
}

.credit-item:last-child {
  margin-right: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
  .credits {
    font-size: 12px;
  }
}