/* this part for the header */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}
.logo {
  margin-left: 70px; 
}

.logo img {
  height: 55px; 
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 400px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  display: inline-block;
}

nav ul li a.active {
  color: rgb(155, 57, 57);
  border-bottom: 3px solid red;
  padding-bottom: 3px;
  width: 105%;
  border-radius: 10px;
}

.button-1 {
  background: linear-gradient(to bottom, #7DA2F9 0%, #5C8DF6 100%); 
  border: none; 
  border-radius: 10px; 
  color: white; 
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif; 
  font-size: 14px; 
  font-weight: 50; 
  padding: 10px 35px; 
  text-align: center; 
  text-decoration: none;
  transition: all 0.2s ease-in-out; 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:hover {
  background: linear-gradient(to bottom, #698EEF 0%, #4A6FDD 100%); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-1:active {
  background: linear-gradient(to bottom, #5577D4 0%, #3B5DB9 100%); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: translateY(1px); 
}

/* THIS PART IS FOR THE WHATSAPP FLOATING BUTTON */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* Styles for the hero section the part after the header */
.hero {
  background-color: #FD8787;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

.hero-text {
  flex: 1;  
  max-width: 50%;  
  color: #000000;
}

.hero-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px; 
  color: #000000bb;
  margin: 0;
}

.hero-text h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px; 
  color: #0000009a;
  margin-top: 20px;
  line-height: 1.5;
}

.hero-image {
  flex: 1; 
  max-width: 50%; 
  height: auto;
  object-fit: contain;
}

/* Vehicle Section Styles the section under the hero part  */
.vehicle-section {
  position: relative;
  max-width: 960px; 
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #6bb5ff8f; 
  border-radius: 12px; 
  margin: 10px 0;  
  box-shadow: none; 
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;  
  border-radius: 12px 0 0 12px; 
  border: 1px solid #d1d1d1;
  margin: 0; 
}

.search-input {
  width: 100%; 
  height: 40px; 
  border: none; 
  outline: none; 
  padding-left: 40px; 
  font-size: 16px; 
  color: #000000; 
  background-color: transparent; 
}

.search-icon {
  position: absolute;
  left: 10px; 
  color: #000000;
  font-size: 20px; 
}

.filter-button {
  background: linear-gradient(to right, #A1DAE7 0%, #6bb5ff8f 100%); 
  color: #ffffff;
  border: 1px solid #a1dae7;
  border-radius: 0 12px 12px 0;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.filter-button img {
  height: 26px;
  vertical-align: middle;
}


.filter-button:hover {
  background: linear-gradient(to right, #6bb5ff8f 0%, #A1DAE7 100%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.filter-icon {
  width: 26px;
  height: 26px;
}


body {
  background: #ecf9fa;
}

.filter-dropdown {
  display: none;
  position: absolute; 
  top: 95%; 
  width: 50%; 
  left: 70%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  z-index: 10; 
}

.filter-dropdown:before {
  content: "";
  position: absolute;
  top: -8.5px; 
  left: 90%;
  transform: translateX(-50%) rotate(45deg); 
  width: 15px;
  height: 15px; 
  background-color: #FFFFFF; 
  border-left: 1px solid black; 
  border-top: 1px solid black; 
  z-index: 15; 
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.filter-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.filter-section label:last-child {
  margin-bottom: 0;
}

.filter-section select,
.filter-section input[type="number"] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}

.price-range-slider {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 15px; /* Space after the slider */
}

.range-value {
  position: relative;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px; 
}

.range-value input {
  font-size: 16px;
  color: #333;
  background: transparent;
  border: none;
  pointer-events: none;
}

.range-bar {
  background: #000; 
  height: 3px;
  margin: 10px 0; 
  padding: 0 10px 0 0; 
  box-sizing: border-box; 
}

.ui-slider {
  width: calc(99% - 20px);
  margin-left: 0;
}

.ui-slider-range {
  background: #06b9c0; 
  height: 3px;
  position: absolute;
  z-index: 1;
}

.ui-slider-handle {
  background: #FFF;
  border: 2px solid #06b9c0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: -7px;
  cursor: pointer;
  outline: none;
}

/* Min and Max labels */
.slider-min-max {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  margin-top: 8px; 
}

/* Visual adjustments for clarity and minimalism */
.slider-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 23px 0 0; 
  margin-top: 10px;
}

.slider-label {
  position: relative;
  top: -10px; 
  font-size: 12px; 
}


.filter-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: calc(50% - 10px);
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cancel-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.confirm-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
}

@media (max-width: 640px) {
  .filter-dropdown {
    width: 100%;
    padding: 5px 10px;
  }

  .button {
    width: 100%;
  }

  .price-range-slider {
    padding: 10px 10px 0 10px;
  }
}


/*this section is the style for the car cards*/
.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 40px; 
  justify-content: center;
  margin: 30px auto; 
  padding: 0 70px;
}

.car-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  background: #FFF;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  position: relative;
  padding-bottom: 60px; 
  padding-top: 50px;
  display: none;
}

.car-image {
  width: 100%;
  height: auto;
}

.car-title {
  margin-top: 10px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0; 
}

.car-price {
  font-size: 16px;
  color: red;
  margin-top: 5px; 
  margin-bottom: 15px; 
}

.car-info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: relative; 
}

.car-feature {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 5px; 
}

.car-feature img {
  width: 26px;
  height: 26px;
  margin-bottom: 4px;
}

.car-feature span {
  display: block; 
  font-size: 14px;
}

.rent-car-btn {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #00B4D8;
  color: white;
  border-radius: 8px;
  position: absolute;
  bottom: 10px; 
  left: 10%;
  display: none; 
  z-index: 100;
  cursor: pointer;
  pointer-events: auto;
}

.car-card:hover .rent-car-btn {
  display: block; /
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.rent-car-btn:active {
  background-color: #007B9E; 
  transform: scale(0.95); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 1200px) {
  .car-card {
    width: calc(25% - 10px); 
  }
}

@media (max-width: 768px) {
  .car-card {
    width: calc(50% - 10px);
  }
}

/*this for the load more part*/

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue; 
  transition: .3s;
  cursor: pointer  
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;  
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}

/*this section is for the footer*/
footer {
  background-color: #1A202C;
  padding: 50px 0;
  color: #fff; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
}

.logo {
  width: 25%;
  padding: 0 15px; 
  text-align: left;
}

.logo img {
  width: 150px;
}

.supported, .links, .contact {
  width: 25%;
  padding: 0 15px; 
}

.supported ul {
  list-style: none;
  padding: 0;
}

.supported ul li {
  margin-bottom: 10px;
}

.links ul, .contact ul {
  list-style: none;
  padding: 0;
}

.links ul li, .contact ul li {
  margin-bottom: 10px;
}

.supported ul li img {
  width: 50%; 
  max-width: 200px; 
  height: auto; 
}


.links ul li a, .contact ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover, .contact ul li a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

.social {
  margin-top: 15px; 
}

.social a {
  color: #38B2AC;
  font-size: 25px; 
  margin-right: 15px; 
}

.social a:last-child {
  margin-right: 0; 
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

/* Responsive for smaller screens */
@media screen and (max-width: 992px) {
  .container {
      flex-direction: column;
      align-items: center;
      text-align: center; 
  }

  .logo, .supported, .links, .contact {
      width: 100%;
      margin-bottom: 20px;
      padding: 0; 
  }
}

/* Style for the credits section */
.credits {
  text-align: center; 
  margin-top: 20px; 
}

.credit-item {
  color: #fff; 
  text-decoration: none; 
  display: inline-flex; 
  align-items: center; 
  margin: 0 15px; 
}

.credit-item i {
  margin-right: 8px; 
  font-size: 16px; 
  transition: color 0.3s ease; 
}

.credit-item .text {
  color: #fff; 
  margin-right: 8px; 
  transition: color 0.3s ease; 
}

.credit-item .name {
  color: #fff; 
  transition: color 0.3s ease; 
}

.credit-item:hover i {
  color: #38B2AC; 
}

.credit-item:hover .text,
.credit-item:hover .name {
  color: #38B2AC; 
}

.credit-item:hover {
  text-decoration: underline; 
}

.credit-item:first-child {
  margin-left: 0;
}

.credit-item:last-child {
  margin-right: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
  .credits {
    font-size: 12px; 
  }
}