/* this part for the header */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.logo {
  margin-left: 70px;
}

.logo img {
  height: 55px;
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 400px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  display: inline-block;
}

nav ul li a.active {
  color: rgb(155, 57, 57);
  border-bottom: 3px solid red;
  padding-bottom: 3px;
  width: 105%;
  border-radius: 10px;
}

.button-1 {
  background: linear-gradient(to bottom, #7DA2F9 0%, #5C8DF6 100%);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 50;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:hover {
  background: linear-gradient(to bottom, #698EEF 0%, #4A6FDD 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-1:active {
  background: linear-gradient(to bottom, #5577D4 0%, #3B5DB9 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* THIS PART IS FOR THE WHATSAPP FLOATING BUTTON */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/* Investment Banner Section */
.investment-banner {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
}

.banner-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 20px;
}

/*the section for the form*/
.form-container {
  width: 65%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  position: relative;
  border-radius: 10px;
}

.section h2 {
  padding: 13px;
  margin: -20px -20px 20px -20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.label,
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.half {
  width: 48.5%;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: none;
}

.instructions {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: #ff4d4d;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

label.custom-file-upload:hover {
  background-color: #e33e3e;
}

.fa-cloud-upload {
  margin-right: 10px;
}

.upload-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  margin: 10px auto;
  width: 96%;
  background-color: #f9f9f9;
}

.instructions {
  margin-bottom: 14px;
}

.file-upload-box {
  border: 2px dashed rgb(196, 1, 1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: #fff;
}

.custom-file-upload {
  background-color: rgb(186, 7, 7);
  color: white;
  padding: 11px 18px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

.custom-file-upload:hover {
  background-color: #e33e3e;
}

#file-chosen {
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .form-container {
    width: 90%;
    margin: auto;
  }
  .row {
    flex-direction: column;
  }
  .half {
    width: 100%;
 }
}

/*this section is for the footer*/
footer {
  background-color: #1A202C;
  padding: 50px 0;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 25%;
  padding: 0 15px;
  text-align: left;
}

.logo img {
  width: 150px;
}

.supported,
.links,
.contact {
  width: 25%;
  padding: 0 15px;
}

.supported ul {
 list-style: none;
 padding: 0;
}

.supported ul li {
  margin-bottom: 10px;
}

.links ul,
.contact ul {
  list-style: none;
  padding: 0;
}

.links ul li,
.contact ul li {
  margin-bottom: 10px;
}

.supported ul li img {
  width: 50%;
  max-width: 200px;
  height: auto;
}


.links ul li a,
.contact ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover,
.contact ul li a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

.social {
  margin-top: 15px;
}

.social a {
  color: #38B2AC;
  font-size: 25px;
  margin-right: 15px;
}

.social a:last-child {
  margin-right: 0;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
  color: #38B2AC;
}

/* Responsive for smaller screens */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.logo,
.supported,
.links,
.contact {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}


/* Style for the credits section */
.credits {
  text-align: center;
  margin-top: 20px;
}

.credit-item {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0 15px;
}

.credit-item i {
  margin-right: 8px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.credit-item .text {
  color: #fff;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.credit-item .name {
  color: #fff;
  transition: color 0.3s ease;
}

.credit-item:hover i {
  color: #38B2AC;
}

.credit-item:hover .text,
.credit-item:hover .name {
  color: #38B2AC;
}

.credit-item:hover {
  text-decoration: underline;
}

.credit-item:first-child {
  margin-left: 0;
}

.credit-item:last-child {
  margin-right: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
  .credits {
    font-size: 12px;
  }
}